doctype html
html
    head
    title Rehab
    style
        include ../static/style3.css
    body
        header#header
            h.h1  Call On +91-84932*****

        nav#navbar
            #logo
                a(href="/")
                img(src='../static/healthup_logo.png', alt='Healthup.com')
            ul
                li.items #[a(href="/") Home]
                li.items #[a(href="/") About]
                li.active #[a(href="/rehab") Services]
                li.items #[a(href="/") Contact Us]
        section#home

